body{
    background-image: linear-gradient(to right, turquoise, rgb(120, 139, 201), rgb(19, 73, 153) );
}

#image{
    width: 600px;
    height: 600px;
}

.image{
    display: flex;
    justify-content: center;
}